@import "vars";

html 
{  
  font-size: 16px;  
}

#pricing-body
{
    font-family: 'JetBrains Mono', monospace;
    width: 100vw;
    height: 100vh;
    background: $gradient-bottom;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    & > header
    {
        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-bottom: 0.1em solid $neonBlue;
        
        nav
        {
            grid-column: 1 / 2;
        
            
            ul
            {
                margin-top: 1.2em;
                padding: 0;
                
                
                li{
                    display: inline-block;
                    color: white;
                    font-size: 1em;
                    margin-left: calc(100%/4);
                    font-weight: bold;
                    
                    
                }
                
                span
                {
                    text-transform: uppercase;
                }
            }
        }
    }
    
    & > main
    {
        height: 84vh;
        
        header
        {
            margin: auto;
            
            h1
            {
                text-align: center;
                font-size: 3em;
                font-weight: bold;
                color: white;
                padding-top: 0.3em;
            }
        }
        
        #mainSection
        {    
            margin: 2em 8em 4em 8em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
            #basic
            {
                grid-column: 1 / 2;
                margin: 2.9em 0 0 2em;
                display: grid;
                grid-template-rows: 1fr 2fr ;
                background-color: white;
                border-right: solid 1px $blue;
                
                
                header
                {
                    background-color: $blue;
                    grid-row: 1 / 2;
                    width: 100%;
                    margin-top: 0;
                    
                    h2
                    {
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                
                ul
                {
                    margin-top: 1em;
                    margin-left: 1em;
                    grid-row: 2 / 3;
                    padding-top: 0;
                    padding-left: 0;
                    list-style-type: none;
                    
                    
                    li
                    {
                        padding-left: 0;
                        padding-bottom: 1em;
                        color: black;
                        font-size: 0.8em;
                    }
                }
                
                footer
                {
                    color: $blue;
                    text-align: center;
                    font-weight: bold;
                }
            }
            
            #premium
            {
                grid-column: 2 / 3;
                margin: 0;
                display: grid;
                grid-template-rows: 1fr 2fr ;
                background-color: white;
                
                header
                {
                    background-color: $blue;
                    grid-row: 1 / 2;
                    width: 100%;
                    margin-top: 0;
                    
                    h2
                    {
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                
                ul
                {
                    margin-top: 1em;
                    margin-left: 1em;
                    grid-row: 2 / 3;
                    padding-top: 0;
                    padding-left: 0;
                    list-style-type: none;
                    
                    li
                    {
                        padding-left: 0;
                        padding-bottom: 1em;
                        color: black;
                        font-size: 0.8em;
                    }
                }
                
                footer
                {
                    color: $blue;
                    text-align: center;
                    font-weight: bold;
                }
            }
            
            #pro
            {
                grid-column: 3 / 4;
                margin: 2.9em 2em 0 0;
                display: grid;
                grid-template-rows: 1fr 2fr ;
                background-color: white;
                border-left: solid 1px $blue;
                
                header
                {
                    background-color: $blue;
                    grid-row: 1 / 2;
                    width: 100%;
                    margin-top: 0;
                    
                    h2
                    {
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                
                ul
                {
                    margin-top: 1em;
                    margin-left: 1em;
                    grid-row: 2 / 3;
                    padding-top: 0;
                    padding-left: 0;
                    list-style-type: none;
                    
                    li
                    {
                        padding-left: 0;
                        padding-bottom: 1em;
                        color: black;
                        font-size: 0.8em;
                    }
                }
                
                footer
                {
                    color: $blue;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}